### Zabbix Agent Configuration

Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}

Hostname={{ inventory_hostname }}
# Optional metadata to group auto-registered hosts
HostMetadata=Windows


LogFile=C:\Program Files\Zabbix Agent 2\zabbix_agent2.log
Include=C:\Program Files\Zabbix Agent 2\zabbix_agent2.d\

ControlSocket=\\.\pipe\agent.sock

Include=.\zabbix_agent2.d\plugins.d\*.conf
